<% unless comment.archived? %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>

    <% if comment.commenter == current_user.email || Article.find(comment.article_id).user_id == current_user.id %> 
    <p>
        <%= button_to "Delete this comment", [comment.article, comment], method: :delete  %>
    </p>
    <% end %>
<% end %>