<% provide(:title, "All Archived Articles") %>
<h1>Archived Articles</h1>
<% if Article.archived_count == 0 %>
  <h2>You have 0 Archived Posts</h2>
<% else %>
  <% @articles.each do |article| %>
  	<% if article.archived? %>
  		<h3><%= link_to article.title, article %> &#8594;
  		<%= link_to "Change To Public", article_change_to_public_path(article.id)%>
  		</h3>
   		<br>
  	<% end %>
  <% end %>
<% end %>
<br> <br>
